{% extends "template.html" %}

{% block title %}История запросов{% endblock %}

{% block content %}
<div class="history-container">
    <div class="history-header">
        <h1><i class="fas fa-history"></i> История запросов</h1>
    </div>

    <div class="history-filters">
        <div class="history-tabs" id="historyTabs">
            <button class="history-tab active" data-type="all">Все</button>
            <button class="history-tab" data-type="humanizer">Гуманайзер</button>
            <button class="history-tab" data-type="detector">Детектор</button>
            <button class="history-tab" data-type="paraphraser">Перефразер</button>
            <button class="history-tab" data-type="grammar">Грамматика</button>
        </div>
    </div>

    <div class="history-list" id="historyList"></div>
    <div id="historySentinel" style="height: 1px;"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="/js/history.js" defer></script>
{% endblock %}