{% extends "template.html" %}

{% block title %}Профиль{% endblock %}

{% block content %}
<div class="profile-container">
    <div class="profile-header">
        <div class="profile-avatar">
            <img id="profileAvatar" src="" alt="Avatar">

        </div>
        <div class="profile-info">
            <h1 id="profileEmail"></h1>
            <span class="profile-plan" id="profilePlan"></span>
        </div>
    </div>


    <div class="profile-row">
        <div class="profile-section">
            <h3><i class="fas fa-coins"></i> Баланс слов</h3>
            <div class="balance-card-large">
                <div class="balance-bar-container-large">
                    <div class="balance-bar-fill-large" id="requestsProgress"></div>
                </div>
                <div class="balance-card-text" id="balanceMainText"></div>
            </div>
            <a href="/pricing" class="upgrade-btn" id="addTokensBtn">Увеличить лимит</a>
        </div>

        <div class="profile-section">
            <h3><i class="fas fa-crown"></i> Подписка <span class="balance-card-plan" id="subscriptionPlan">Free</span></h3>
            <div class="balance-card-large">
                <div class="balance-card-details">
                    <div class="balance-detail-item">
                        <i class="fas fa-file-word"></i>
                        <span>Лимит слов за один запрос: <strong id="maxWords">300</strong></span>
                    </div>
                    <div class="balance-detail-item" id="expiryRow" style="display: none;">
                        <i class="fas fa-calendar-alt"></i>
                        <span>Действует до: <strong id="subscriptionExpiry"></strong></span>
                    </div>
                </div>
            </div>
            <a href="/pricing" class="upgrade-btn" id="upgradeBtn">Изменить тариф</a>
        </div>
    </div>
    <div style="display: flex;">
        <button class="danger-btn red" id="deleteAccountBtn">
            <i class="fas fa-trash"></i> Удалить аккаунт
        </button>
    </div>

</div>


{% endblock %}

{% block scripts %}
<script src="/js/profile.js" defer></script>
{% endblock %}